main > .section > div.featured-wrapper {
  max-width: 100vw;
  height: 50vh;
  margin: 0;
  padding: 0;

  picture {
    width: 100%;
    height: inherit;
    display: block;
    background: yellow;
  }

  img {
    width: inherit;
    height: inherit;
    display: block;
    object-fit: cover;
  }
}
