body.modal-open {
  overflow: hidden;
  margin-right: 15px; /* Prevents page from shifting */
}

.modal {
  dialog {
    overscroll-behavior: none;
    overflow: visible;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 900px;
    max-width: 1400px;
    max-height: calc(100dvh);
    opacity: 0;
    border: 0;
    box-shadow: 0 4px 20px rgb(0 0 0 / 0%);
    transition:
      opacity 1.4s ease-in-out;

    body.modal-open .modal & {
      opacity: 1;
      box-shadow: 0 4px 20px rgb(0 0 0 / 90%);
    }

    body.modal-close .modal & {
      opacity: 0;
    }

    &::backdrop {
      backdrop-filter: blur(0);
      opacity: 0;
      cursor: pointer;
      transition:
        backdrop-filter 1.5s ease-in-out,
        opacity 1s ease-in-out;
    }

    body.modal-open .modal &::backdrop {
      opacity: 1;
      backdrop-filter: blur(8px);
      background: rgb(0 0 0 / 85%);
    }

    body.modal-close .modal &::backdrop {
      opacity: 0;
      backdrop-filter: blur(0);
      background: rgb(19 19 19 / 0%);

    }

    .modal-content {
      box-sizing: border-box;
      overflow-y: auto;
      overscroll-behavior: none;
      width: 100%;
      max-height: calc(90dvh);
      padding: 30px 40px;

      picture{
        img {
          width: 100%;
          height: auto;
        }
      }

      .button-container {
        text-align: center;
      }

    }
  }

  .close-button {
    position: absolute;
    top: -40px;
    right: -10px;
    width: 44px;
    height: 44px;
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 0;
    background: transparent;
    line-height: 0;
    cursor: pointer;

    .icon.icon-close {
      content: '';
      width: 24px;
      height: 24px;

      &::before, &::after {
        content: '';
        box-sizing: border-box;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 24px;
        height: 2px;
        border-radius: 2px;
        background: #fff;
      }

      &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}
