main > .section > div.roadmap-wrapper {
  --background: #2b2b2b;
  --lines: #616161;

  --pink: #e439b3;
  --blue: #3087e6;
  --teal: #42d5e1;
  --purple: #9a1f9f;


  position: relative;
  max-width: 100dvw;
  height: 800px;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: #fff;






  .roadmap {
    height: inherit;
    user-select: none;
    overflow-x: hidden; /* auto for testing */
    overflow-y: hidden;

  /* todo: add heading fix */
  .heading {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid red;
    display: none;
  }

    /* all list items */
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      padding: 0;
      margin: 0;
    }

    ul.years {
      line-height: 40px; /* adjust for line-height */
      /*text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);*/
      li.y {
        font-size: 130%;
        font-weight: bold;
        height: 40px;


        > div {
          margin-top: -40px; /* adjust for line-height */
        }
        /* sticky year */
        &.fixed > div {
          margin-top: 0; /* adjust for line-height */
          position: absolute;
          top: 0;
          left: calc((100vw - var(--page-width)) / 2 + 30px);
          background: var(--background);
        }

      }

      ul.quarters {
        line-height: normal;
        height: 40px;
        font-size: 90%;
        font-weight: normal;


        li.q {
          padding: 10px 0 0 10px;
          width: 680px;
          /*background: var(--blue);*/
          color: var(--background);
          text-shadow: none;
          font-weight: bold;
          border-right: 3px solid #000;


          /*&.start {*/
          /*  background: var(--active);*/
          /*}*/

          ul.projects {
            flex-direction: column;
            margin-top: 10px;
            font-size: 80%;

            li.p {
              position: relative;
              margin: 0 0 0 6px;
              border-left: 1px solid var(--lines);
              cursor: pointer;
              opacity: 0;
              filter: blur(40px);
              padding-left: 80px;
              transition: all 340ms ease-out;
              /* multiply each animation by the li index */
              /* stylelint-disable-next-line custom-property-no-missing-var-function */
              transition-delay: calc(var(--index) * 200ms);

              /* fade-in */
              li.q.on & {
                padding-left: 0;
                filter: blur(0);
                opacity: 1
              }

              /* project item */
              > div {
                padding: 10px 100px 10px 14px; /* apply padding to child when using max-height: 0 todo: may not be needed anymore */
                margin: 0;
                color: #d1d1d1;
                transition: all .5s;

                /* adjust top */
                li.p:first-child & { padding-top: 30px }
              }


              /* dots */
              &:before {
                position: absolute;
                content: '';
                width: 10px;
                height: 10px;
                background: var(--background);
                box-shadow: inset -34px 0 10px 4px var(--background);
                border: 1px solid var(--lines);
                border-radius: 50%;
                left: -6.5px;
                top: 13px;
                transition: .5s;
              }

              /* adjust top */
              &:first-child:before { top: 32px }

              /* .p hover */
              &:hover, &.active {
                > div {
                  /* todo: fix hover events */
                  color: #fff;
                  background: linear-gradient(to right, #606060, var(--background));
                  /*box-shadow: inset -34px 0px 10px 4px var(--background);*/
                }

                &:before {
                  background: var(--active);
                  box-shadow: 0 0 10px 2px var(--active);
                  border: 1px solid var(--active);
                }
              }

              &:hover > div {
              }

              &.active > div {
                /*background: #373737;*/
              }

              .tooltip {
                max-height: 0;
                overflow: hidden;
                transition: all 1s ease-in-out;
                font-weight: 300 !important;

                > div {
                  padding: 20px;
                }

                li.p.active & {
                  font-weight: normal;
                  max-height: 999px;
                }
              }
            }
          }
        }
      }
    }

    /* left/right slide bars */
    .left, .right {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: calc((100vw - var(--page-width)) / 2);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9;
      background: linear-gradient(to right, var(--background), transparent);

      &.disabled {
        display: none;
      }
      /* circle buttons */
      > div {
        width: 50px;
        height: 50px;
        /*border: 1px solid #fff;*/
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: .8;
        background: var(--background);
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0);
        scale: 100%;
        transition: all 120ms ease-in-out;

        .left:hover &, .right:hover & {
          scale: 130%;
          opacity: 1;
          box-shadow: 0 0 14px 2px #fff;
        }

        &:before {
          content: '';
          height: 14px;
          width: 14px;
          border-left: 2px solid #fff;
          border-bottom: 2px solid #fff;
          position: absolute;
          left: 40%;
          top: 35%;
          transform: rotate(45deg);
        }
      }
    }
    .right {
      left: unset;
      right: 0;
      background: linear-gradient(to left, var(--background), transparent);

      > div {
        left: unset;
        right: 20%;

        &:before {
          left: unset;
          right: 40%;
          transform: rotate(-135deg);
        }
      }
    }

    .clr-0 {
      color: var(--pink);
      li.q { background: var(--pink)}
      li.p:hover, li.p.active {
        &:before {
          background: var(--pink) !important;
          box-shadow: 0 0 10px 2px var(--pink) !important;
          border: 1px solid var(--pink) !important;
        }
      }
    }
    .clr-1 {
      color: var(--blue);
      li.q { background: var(--blue)}
      li.p:hover, li.p.active {
        &:before {
          background: var(--blue) !important;
          box-shadow: 0 0 10px 2px var(--blue) !important;
          border: 1px solid var(--blue) !important;
        }
      }
    }
    .clr-2 {
      color: var(--teal);
      li.q { background: var(--teal)}
      li.p:hover, li.p.active {
        &:before {
          background: var(--teal) !important;
          box-shadow: 0 0 10px 2px var(--teal) !important;
          border: 1px solid var(--teal) !important;
        }
      }
    }
    .clr-3 {
      color: var(--yellow);
      li.q { background: var(--yellow)}
      li.p:hover, li.p.active {
        &:before {
          background: var(--yellow) !important;
          box-shadow: 0 0 10px 2px var(--yellow) !important;
          border: 1px solid var(--yellow) !important;
        }
      }
    }

  }
}


