footer {
  background: var(--dark-gray);

  > div {
    position: relative;
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 100px 40px 40px;
    text-align: right;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    opacity: .9
  }
}
